.pagination{
    width: 100%;
    height: 50px;
    max-width: 1180px;
    border: 1px solid #f9f9f9;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}
.pagination ul{
    display: flex;
    list-style: none;
    
}
.pagination ul li{
    padding:  0 10px;
    margin-left: 5px;
    background-color: lightblue;
    border: 1px solid #f9f9f9;
    color: #fff;
}